@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Spinnaker);

:root {
    --medal-size: 48px;
    --margin: 8px;
}

body {
    background: #fbfbfb;
    font-size: 1em;
    overflow-x: hidden;
    width: 320px;
}

div#not-logged, div#logged, div#medal-list {
    display: none;
    font-family: Spinnaker, sans-serif;
    font-size: 1.2em;
    line-height: 133%;
    margin-top: var(--margin);
    position: relative;
}

a {
    position: absolute;
}

a#all-medals {
    bottom: calc(-1 * var(--margin));
    right: -2px;
}

img.medal-link {
    height: var(--medal-size);
    width: var(--medal-size);
}

span#medal-name {
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 1.3em;
    line-height: 110%;
    text-transform: uppercase;
    width: 264px;
}

img#picto {
    float: left;
    height: var(--medal-size);
    margin-bottom: var(--margin);
    margin-right: var(--margin);
    width: var(--medal-size);
}

div.spacer {
    border-bottom: 1px dashed #ccc;
    clear: both;
}

div.poi-count {
    line-height: 140%;
    margin-left: 2px;
    margin-top: var(--margin);
}
